html, body{
    padding:0;
    margin:0;
}
/*header*/
header{
    background-image: url('https://www.designyourway.net/diverse/darkpat/ghost-tile.jpg');
    background-size: contain;
    border-bottom: solid 5px rgb(88, 86, 86);
    position: sticky;
    top: 0;
    z-index:2;
}
ul{
    margin: 0;
    display: inline-block;
}
 ul li{
    display: inline-block;
    line-height: 4;
    z-index:1;
    margin: 0 5px;

 }
 ul a{
    text-decoration: none;
    color:antiquewhite;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}
ul a:hover{
    font-size:15px;
}
ul a:active{
    font-size:12px;
}
.login{
    display: inline-block;
    position: absolute;
    left:88%;
    top:20%;
    text-decoration: none;
    color:rgb(17, 17, 41);
    background-color: rgb(255, 191, 0);
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    min-width: 50px;
}
.login:active{ 
    background-color: rgb(88, 86, 86);
    color:aliceblue;
}
.login:hover{
    box-shadow: 1px 3px black;
    border: 2px solid rgb(255, 191, 0);
}

/*footer*/
footer{
    background-color:whitesmoke;
    font-family:'Montserrat', sans-serif;
    height: 100px;
    margin-top: 50px;
}

footer #copyright{
    margin: 20px 20px;
}
footer div{
    margin: 0 20px;
    padding-top: 10px;
}
.float-end{
    float:right;
}
.float-end a{
    text-decoration: none;
    margin-right:10px;
    color:rgb(17, 17, 41);
    background-color: rgb(255, 191, 0);
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}
.float-end a:active{ 
    background-color: rgb(88, 86, 86);
    color:aliceblue;
}
.float-end a:hover{
    box-shadow: 1px 3px black;
    border: 2px solid rgb(255, 191, 0);
}